<div class="px-4 py-5 my-5 text-center">
    <%= images_tag 's.jpg'%>
    <div class="col-lg-6 mx-auto">
    <p class="mb-4">私たちの日常は予測不可能な災害によっていつでも変わり得ます。</p>
    <p class="mb-4">しかし、正しい知識と準備があれば、そのリスクを大きく減らすことができます。</p>
    <p class="mb-4">「防災クイズ」は、防災に関する重要な知識を、楽しみながら学べるWebアプリです。</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">クイズを始める</button>
      </div>
    </div>
  </div>
