<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-center">
      <%= image_tag 'メニュー.jpg', class: 'card-img' %>
        <div class="card-header">
          初級コース
        </div>
        <div class="card-body">
          <h5 class="card-title">基礎知識を学ぼう</h5>
          <p class="card-text">防災に関する基本的な知識を問うクイズです。</p>
          <a href="#" class="btn btn-primary">スタート</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
      <%= image_tag 'メニュー.jpg', class: 'card-img' %>
        <div class="card-header">
          中級コース
        </div>
        <div class="card-body">
          <h5 class="card-title">応用知識に挑戦</h5>
          <p class="card-text">もう少し深い防災知識が求められるクイズです。</p>
          <a href="#" class="btn btn-warning">スタート</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
      <%= image_tag 'メニュー.jpg', class: 'card-img' %>
        <div class="card-header">
          上級コース
        </div>
        <div class="card-body">
          <h5 class="card-title">防災の達人へ</h5>
          <p class="card-text">高度な防災知識を問う難問揃いのクイズです。</p>
          <a href="#" class="btn btn-danger">スタート</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">防災グッズチェックリスト</h5>
    <p class="card-text">パッとサッとリュックを作ってみよう！</p>
    <p class="card-text">↓↓↓</p>
    <a href="#" class="btn btn-primary">チェックリストを作成する</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>